@import "tailwindcss";

@import "@heroui/styles"; 

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #7c3aed !important;
  transform: scale(0.7);
}

.swiper-button-next {
  right: 30px !important;
}

.swiper-button-prev {
  left: 30px !important;
}